.board {
    width: 280px;
    border: 1px solid black;
}

.board td {
    width: 28px;
    min-width: 28px;
    height: 28px;
    min-height: 28px;
    padding: 0;
    margin: 0;
    border: 0px;
}

.swatch {
    width: 8px;
    min-width: 8px;
    height: 8px;
    min-height: 8px;
    padding: 0;
    margin: 0;
    border: 0px;
    outline: 1px solid darkgray;
}

span.color-picker {
    display: inline-block;
    border: 0.1rem solid black;
    border-radius: 0.4rem;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.border_0 { /* none */ }
.border_1 { border-top: 1px solid black !important; }
.border_2 { border-right: 1px solid black !important; }
.border_3 { border-top: 1px solid black !important; border-right: 1px solid black !important; }
.border_4 { border-bottom: 1px solid black !important; }
.border_5 { border-top: 1px solid black !important; border-bottom: 1px solid black !important; }
.border_6 { border-right: 1px solid black !important; border-bottom: 1px solid black !important; }
.border_7 { border-right: 1px solid black !important; border-right: 1px solid black !important; border-bottom: 1px solid black !important; }
.border_8 { border-left: 1px solid black !important; }
.border_9 { border-top: 1px solid black !important; border-left: 1px solid black !important; }
.border_a { border-right: 1px solid black !important; border-left: 1px solid black !important; }
.border_b { border-top: 1px solid black !important; border-right: 1px solid black !important; border-left: 1px solid black !important; }
.border_c { border-bottom: 1px solid black !important; border-left: 1px solid black !important; }
.border_d { border-top: 1px solid black !important; border-bottom: 1px solid black !important; border-left: 1px solid black !important; }
.border_e { border-right: 1px solid black !important; border-bottom: 1px solid black !important; border-left: 1px solid black !important; }
.border_f { border: 1px solid black !important; }

.red { background-color: red }
.green { background-color: green }
.blue { background-color: aqua }
.yellow { background-color: yellow }
.purple { background-color: light-purple }
.orange { background-color: orange }
.white { background-color: white }
