.game-board {
    width: 90px;
    border: 1px dashed black;
}

.game-board td {
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    padding: 0;
    margin: 0;
    border: 0px;
}

.red { background-color: red }
.green { background-color: green }
.blue { background-color: aqua }
.yellow { background-color: yellow }
.purple { background-color: light-purple }
.orange { background-color: orange }
.white { background-color: white }
