.game-board {
    width: 500px;
    border: 1px solid black;
    float: left;
    margin-right: 1em;
}

.game-board td {
    width: 25px;
    min-width: 25px;
    height: 25px;
    min-height: 25px;
    padding: 0;
    margin: 0;
    border: 0px;
}

.rack {
    width: 130px;
    border: 1px solid black;
    margin-right: 1em;
}
.rack-left {
    float: left;
}
.rack td {
    width: 10px;
    min-width: 10px;
    height: 10px;
    min-height: 10px;
    padding: 0;
    margin: 0;
    border: 0px;
}

.red { background-color: red }
.green { background-color: green }
.blue { background-color: aqua }
.yellow { background-color: yellow }
.purple { background-color: light-purple }
.orange { background-color: orange }
.white { background-color: white }
